.form-gap {
    padding-top: 70px;
}

body {
    background-color: #434343;

}
.btn {
    font-weight: 700;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}
.global-container {
    margin: auto;
    padding: 40px 40px;
}