<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>History</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.15.1/jquery.validate.min.js"></script>
    <script src="../static/js/history.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel='stylesheet' type='text/css'>
    <link rel="icon" href="../static/images/favicons.png">
    <link href="../static/css/history.css" rel="stylesheet">
    <link href="../static/css/main.css" rel="stylesheet">

</head>
<body>

<div class="container">
    <div class="header">
        <ul class="nav nav-tabs">
            <li ><a href="/userHome">Phones</a></li>
            <li><a href="#">Wint</a></li>
            <li><a href="#">Licenses</a></li>
            {% if role == 'admin' %}
            <li><a href="showSignUp">Users</a></li>
            {% endif %}
            <li class="active"><a href="showHistory">History</a></li>
            <div>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active">
                        <a href="/logout" class="fa fa-sign-out " title="LogOut">
                            <span class="glyphicons glyphicons-log-out" ></span></a>
                    </li>
                    <li class="user-name"> Welcome {{user}}</li>
                </ul>
            </div>
        </ul>
    </div>
</div>
<div class="wrapper">
    <div id="calendarContainer"></div>
    <div id="organizerContainer" style="margin-left: 8px;"></div>
</div>
</body>
</html>