<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Device Report</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.15.1/jquery.validate.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel='stylesheet' type='text/css'>
    <link rel="icon" href="/static/images/favicons.png">
    <script src="/static/js/reports.js"></script>
    <link href="/static/css/reports.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="btn-group btn-group-justified">
            <div class="btn-group">
                <button type="button" class="btn btn-nav" id="gold_apple">
                    <span ><img class="manImg" src="/static/images/attacks/gold_apple.png"></img></span>
                    <p>Gold Apple</p>
                </button>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-nav" id="blue_apple">
                    <span ><img class="manImg" src="/static/images/attacks/blue_apple.png"></img></span>
                    <p>Blue Apple</p>
                </button>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-nav" id="gallery">
                    <span ><img class="manImg" src="/static/images/attacks/gallery.png"></img></span>
                    <p>Gallery</p>
                </button>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-nav" id="stripper">
                    <span ><img class="manImg" src="/static/images/attacks/stripper.png"></img></span>
                    <p>Stripper</p>
                </button>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-nav" id="avi">
                    <span ><img class="manImg" src="/static/images/attacks/avi.png"></img></span>
                    <p>Avi</p>
                </button>
            </div>
        </div>
        <div class="business-card">
            <div class="media">
                <div class="media-left">
                    <i class="fa fa-mobile fa-5x"></i>
                </div>
                <div class="media-body">
                    <h2 class="media-heading">{{report["name"]}}</h2>
                    <div class="macAddress">{{report["_id"]}}</div>
                    <div class="mail">{{report["account"]}}</a> </div>
                </div>
            </div>
        </div>
        <div class="">
            <div class="btn-group tags">
                <button type="button" class="btn btn-success " id="addToSuccess">Success</button>
                <button type="button" class="btn btn-warning " id="addToPartial">Partially</button>
                <button type="button" class="btn btn-danger " id="addToFailed">Failed</button>
                <button type="button" class="btn btn-default " id="addTodo">Todo</button>
            </div>
        </div>

        <div class="panel-body">
            <div class="tree well">
                <ul>
                    <li>
                        <span><i class="fa fa-tablet"></i> {{report["name"]}}</span>


                        <ul>
                            {% for v in report["reports"] %}
                            <li>
                                <span><i class="fa fa-code-fork"></i> {{v["_id"]}} </span>
                                <ul>
                                    <li>
                                        <span><i class="fa fa-calendar-o "></i> {{report["updated_on"]}} </span>
                                    </li>
                                    <li >
                                        <span ><i class="fa fa-sitemap"></i> Attack flow </span>

                                        <ul >
                                            {% for key, value in v["attackProccess"].items() recursive %}
                                            <li >
                                                {% if value is not mapping %}
                                                    {% if key == 'status' %}
                                                        <span class="status" id="{{key}}">{{value}}</span>
                                                    {% else %}
                                                        <span class="fa fa-bug status"> issues</span>
                                                    {% endif %}
                                                <!--<span ><i class="fa fa-minus-circle"></i> {{key}} </span>-->
                                                {% endif %}
                                                {% if value is mapping %}
                                                <span ><i class="fa fa-minus-circle"></i> {{key}} </span>
                                                <ul id="ul-attack-items">
                                                    {{ loop(value.items())}}
                                                </ul>

                                            {% endif %}
                                            </li>
                                            {% endfor %}
                                        </ul>

                                    </li>
                                    <li >
                                        <span > <i class="fa fa-database"></i> Data </span>

                                        <ul >
                                            {% for item in v["data"].keys() %}
                                            <li >
                                                <span ><i class="fa fa-minus-circle"></i> {{item}} </span>
                                                {% if item == 'chats' %}
                                                <ul>
                                                    {% for chat in v["data"][item] %}
                                                    <li>
                                                        <span ><i class="fa fa-comments"></i> {{chat}} </span>
                                                        <ul id="ul-chat-items">
                                                            <li>
                                                                <span class="status" id="{{chat}}" >{{v["data"][item][chat]["status"]}}</span>
                                                            </li>
                                                            <li>
                                                                <span class="fa fa-bug status"> issues</span>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                    {% endfor %}
                                                </ul>
                                                {% else %}
                                                <ul id="ul-data-items">
                                                    <li>
                                                        <span class="status" id="{{item}}" >{{v["data"][item]["status"]}} </span>
                                                    </li>
                                                    <li>
                                                        <span class="fa fa-bug status"> issues</span>
                                                    </li>
                                                </ul>
                                                {% endif %}

                                            </li>
                                            {% endfor %}
                                        </ul>

                                    </li>

                                </ul>

                            </li>
                            {% endfor %}
                        </ul>

                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</body>
</html>