<!DOCTYPE html>
<html lang="en">
<head>
  <title>Sign Up</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/jquery.validation/1.15.1/jquery.validate.min.js"></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel='stylesheet' type='text/css'>
  <link rel="icon" href="../static/images/favicons.png">
  <script src="../static/js/signUp.js"></script>
  <link href="../static/css/signup.css" rel="stylesheet">
  <link href="../static/css/main.css" rel="stylesheet">


</head>

<body>

<div class="container">
  <div class="header">
    <ul class="nav nav-tabs">
      <li ><a href="/userHome">Phones</a></li>
      <li><a href="#">Wint</a></li>
      <li><a href="#">Licenses</a></li>
      <li class="active"><a href="showSignUp">Create User</a></li>
      <ul class="nav nav-pills pull-right">
        <li role="presentation" class="active">
          <a href="/logout" class="fa fa-sign-out ">
            <span class="glyphicons glyphicons-log-out"></span></a>
        </li>
        <li class="user-name"> Welcome {{user}}</li>
      </ul>
    </ul>

  </div>

  <div class="create-user">
    <form class="form-signin create-user-form" id="createUserForm">
      <label for="inputName" class="sr-only">Name</label>
      <input type="text" name="inputName" id="inputName" class="form-control sign-up-inputs" placeholder="Name"  autofocus>
      <label for="inputEmail" class="sr-only">Email address</label>
      <input type="email" name="inputEmail" id="inputEmail" class="form-control sign-up-inputs" placeholder="Email address" >
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" name="inputPassword" id="inputPassword" class="form-control sign-up-inputs" placeholder="Password" >
      <div class="form-group">
        <select class="form-control"  name="inputUserRule" id="inputUserRule" >
          <option value="" selected>Please select user role</option>
          <option value="admin">admin</option>
          <option value="guest">guest</option>
        </select>
      </div>
      <button id="btnSignUp" class="btn btn-lg btn-primary btn-block" type="button">Create User</button>
    </form>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalResponse" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header modal-header-ok" id="modalOnResponseHeader">
        <h5 class="modal-title" id="modalResponseTitle"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="modalResponseBody">

      </div>
      <div class="modal-footer">
        <button id="btnCloseResponseModal" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<footer class="footer">
<p> <h3><img src="../static/images/wintego.png"></h3></p>
</footer>
</body>
</html>